* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    /* background-image: url(C:\ISPC\TST\TST_proyecto1_grupo1_app\img\ISPC-removebg-preview.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*para que se vea la imagen de fondo sea adj*/
    background-position: center;
    /*imagen de fondo centrada*/
    padding: 0px 0px 0px 0px;
}

main {
    width: 100%;
    padding: 100px;
    margin: auto;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

/*------------------------------------------------------*/
/* footer estilos*/
/*------------------------------------------------------*/
footer {
    width: 100%;
    background: rgba(0, 128, 255, 0.5);
    height: 1px;
    color: white;
    margin-left: 0px;
    position: relative;
    cursor: pointer;
    margin-top: 100px;
    margin-bottom: 0px;
    z-index: -1;
    text-align: left;
    padding: 1em;
    align-self: flex-end;
}

.container {
    width: 100%;
    height: 790px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2px 0px 0px 0px;
    align-self: flex-end;
    background-color: #daa52099;
}

.container_no {
    width: 100%;
    height: 790px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2px 0px 0px 0px;
    align-self: flex-end;
    background-color: #da204f99;
}

.logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 20%;
    margin-left: 7%;
    width: 90%;
    height: 280px;
    /* border: rgb(109, 179, 18) solid 2px;  */
    user-select: none;
}

.logo1 {
    display: flex;
    margin-top: 2%;
    margin-left: 0.5%;
    width: 90%;
    height: 190px;
    user-select: none;
}

.tecni {
    display: flex;
    margin-top: 0%;
    margin-left: 1%;
    width: 94%;
    height: 30px;
    user-select: none;
    font-size: 24px;
    font-weight: 600;
    color: navy;
    line-height: 30px;
    position: relative;
    /* border: rgb(109, 179, 18) solid 2px;  */
}

.tecni2 {
    display: flex;
    margin-top: 0%;
    margin-left: 2%;
    width: 81%;
    height: 30px;
    user-select: none;
    font-size: 24px;
    font-weight: 600;
    color: navy;
    line-height: 30px;
    position: relative;
    /* border: rgb(109, 179, 18) solid 2px;  */
}





/*--------------------------------------------------------------*/
/*Responsive para celulares 576px */
/*--------------------------------------------------------------*/
@media screen and (max-width: 576px) {


    .baja_form {
        display: none;
    }

    .header {
        height: 60px;
        z-index: 5;
        /* background-color: rgb(148, 79, 79);  */
        background-color: rgb(240, 151, 18);
    }

    .mov {
        font-size: 24px;
        font-weight: 600;
        color: navy;
        display: flex;
        line-height: 65px;
        margin-left: 4%;
        position: absolute;
    }


    .nav-menu {
        flex-direction: column;
        margin-right: 10px;
        /* background-color: #034574; */
        background-color: #e00e0e;
        position: fixed;
        right: 0;
        top: 58px;
        width: 100%;
        padding: 10px 0;
        /* height: 120px; */
        height: 190px;
        /*calc(100%-30px);*/
        overflow-y: auto;
        right: -700px;
        transition: 0.7s;

    }

    .nav-menu-link {
        font-size: 24px;
        margin-left: 5%;
        line-height: 35px;
        color: white;
        font-weight: 500;
    }

    .nav-menu-link:hover {
        background-color: none;
        transition: 0.3s;
        color: white;
    }

    .nav-toggle {
        margin-left: 85%;
        color: black;
        /* border: 1px solid black;  */
        border: transparent;
        border-radius: 3px;
        background: none;
        font-size: 25px;
        padding: 0 15px;
        line-height: 58px;
        cursor: pointer;
        display: block;
    }

    .nav-menu__visible {
        right: -10px;
    }


    .config_form {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: (auto + 10%);
        margin-left: 51%;
        transform: translateX(-52%);
        top: 14%;
        left: 1%;
        background-color: rgba(218, 165, 32, 0.3);
        border-radius: 5px;
        align-items: center;
        border: red solid 2px;
        /* margin-left: 6%; */
        position: absolute;
        user-select: none;
    }


    .config_form .datos {
        display: block;
        /* flex-direction: column; */
        align-items: center;
        width: 85%;
        margin-left: 51%;
        transform: translateX(-30%);
        margin-top: 4%;
        /*margin-left: 2%;*/
        right: 1px;
        background-color: rgba(218, 165, 32, 0.3);
        height: 40px;
        justify-content: center;
        position: relative;
        border: rgb(196, 152, 10) solid 2px;
        border-radius: 5px;
        user-select: none;
        line-height: 31px;

    }


    /***********************************************************/
    /**** Cocina ***********************************************/
    /***********************************************************/
    .config_form .cocina {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 90%;
        margin-left: 51%;
        transform: translateX(-28%);
        margin-top: 6%;
        /*margin-left: 2%;*/
        right: 1px;
        background-color: rgba(218, 165, 32, 0.3);
        /* height: 120px;   */
        justify-content: center;
        position: relative;
        border: rgb(109, 179, 18) solid 2px;
        border-radius: 5px;
        user-select: none;
    }

    .config_form .cocina .cocina_label {
        margin-top: 1%;
        /* font-size: 18px;
        line-height: 30px; */
        /* color: red; */
        user-select: none;
        margin-left: 2%;
        font-size: 20px;
        font-weight: 600;
        color: navy;
    }

    .ambiente {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: rgb(109, 179, 18) solid 2px; */
    }

    .espacio {
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: rgb(109, 179, 18) solid 2px; */
    }

    .tempa {
        /* border: rgb(109, 179, 18) solid 2px; */
    }

    .config_form .cocina .labela {
        /* margin-top: 10%; */
        margin-left: 1%;
        width: 16px;
        font-size: 16px;
        line-height: 22px;
        color: red;
        user-select: none;
    }

    .config_form .cocina .inputA {
        background-color: transparent;
        margin-left: 1%;
        width: 40px;
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        color: red;
        user-select: none;
        border: none;
    }

    .tempr {
        /* border: rgb(109, 179, 18) solid 2px; */
    }

    .config_form .cocina .labelb {
        /* margin-top: 10%; */
        margin-left: 1%;
        width: 16px;
        font-size: 16px;
        line-height: 22px;
        color: red;
        user-select: none;
    }

    .config_form .cocina .inputA {
        background-color: transparent;
        margin-left: 1%;
        width: 40px;
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        color: red;
        user-select: none;
        border: none;
    }

    .actua {
        /* border: rgb(109, 179, 18) solid 2px; */
    }

    .config_form .cocina .labelc {
        /* margin-top: 10%; */
        margin-left: 1%;
        width: 16px;
        font-size: 16px;
        line-height: 22px;
        color: red;
        user-select: none;
    }

    .config_form .cocina .inputA {
        background-color: transparent;
        margin-left: 1%;
        width: 40px;
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        color: red;
        user-select: none;
        border: none;
    }


    /***********************************************************/
    /**** dormitorio********************************************/
    /***********************************************************/
    .config_form .dormitorio {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 90%;
        margin-left: 51%;
        transform: translateX(-28%);
        margin-top: 6%;
        /*margin-left: 2%;*/
        right: 1px;
        background-color: rgba(218, 165, 32, 0.3);
        /* height: 120px;   */
        justify-content: center;
        position: relative;
        border: rgb(109, 179, 18) solid 2px;
        border-radius: 5px;
        user-select: none;
    }

    .config_form .dormitorio .dormitorio_label {
        margin-top: 1%;
        /* font-size: 18px;
    line-height: 30px; */
        /* color: red; */
        user-select: none;
        margin-left: 2%;
        font-size: 20px;
        font-weight: 600;
        color: navy;
    }

    .config_form .dormitorio .labela {
        /* margin-top: 10%; */
        margin-left: 1%;
        width: 16px;
        font-size: 16px;
        line-height: 22px;
        color: red;
        user-select: none;
    }

    .config_form .dormitorio .inputB {
        background-color: transparent;
        margin-left: 1%;
        width: 40px;
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        color: red;
        user-select: none;
        border: none;
    }

    .config_form .dormitorio .labelb {
        /* margin-top: 10%; */
        margin-left: 1%;
        width: 16px;
        font-size: 16px;
        line-height: 22px;
        color: red;
        user-select: none;
    }

    .config_form .dormitorio .inputB {
        background-color: transparent;
        margin-left: 1%;
        width: 40px;
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        color: red;
        user-select: none;
        border: none;
    }

    .actua {
        /* border: rgb(109, 179, 18) solid 2px; */
    }

    .config_form .dormitorio .labelc {
        /* margin-top: 10%; */
        margin-left: 1%;
        width: 16px;
        font-size: 16px;
        line-height: 22px;
        color: red;
        user-select: none;
    }

    .config_form .dormitorio .inputA {
        background-color: transparent;
        margin-left: 1%;
        width: 40px;
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        color: red;
        user-select: none;
        border: none;
    }


    /***********************************************************/
    /**** Living     *******************************************/
    /***********************************************************/
    .config_form .living {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 90%;
        margin-left: 51%;
        transform: translateX(-28%);
        margin-top: 6%;
        /*margin-left: 2%;*/
        right: 1px;
        background-color: rgba(218, 165, 32, 0.3);
        /* height: 120px;   */
        justify-content: center;
        position: relative;
        border: rgb(109, 179, 18) solid 2px;
        border-radius: 5px;
        user-select: none;
    }

    .config_form .living .living_label {
        margin-top: 1%;
        /* font-size: 18px;
    line-height: 30px; */
        /* color: red; */
        user-select: none;
        margin-left: 2%;
        font-size: 20px;
        font-weight: 600;
        color: navy;
    }

    .config_form .living .labela {
        /* margin-top: 10%; */
        margin-left: 1%;
        width: 16px;
        font-size: 16px;
        line-height: 22px;
        color: red;
        user-select: none;
        /* border:  black solid 2px;
        border-radius: 5px; */
    }

    .config_form .living .inputB {
        background-color: transparent;
        margin-left: 1%;
        width: 40px;
        text-align: right;
        font-size: 16px;
        line-height: 22px;
        color: red;
        user-select: none;
        border: none;
        border:  black solid 2px;
        border-radius: 5px;
    }

    .config_form .living .labelb {
        /* margin-top: 10%; */
        margin-left: 1%;
        width: 16px;
        font-size: 16px;
        line-height: 22px;
        color: red;
        user-select: none;
    }

    .config_form .living .inputB {
        background-color: transparent;
        margin-left: 1%;
        width: 40px;
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        color: red;
        user-select: none;
        border: none;
    }

    .actua {
        /* border: rgb(109, 179, 18) solid 2px; */
    }

    .config_form .living .labelc {
        /* margin-top: 10%; */
        margin-left: 1%;
        width: 16px;
        font-size: 16px;
        line-height: 22px;
        color: red;
        user-select: none;
    }

    .config_form .living .inputA {
        background-color: transparent;
        margin-left: 1%;
        width: 40px;
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        color: red;
        user-select: none;
        border: none;
    }


    /***********************************************************/
    /**** nosotros *********************************************/
    /***********************************************************/
    .config_form .nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-left: 51%;
        transform: translateX(-28%);
        margin-top: 6%;
        /*margin-left: 2%;*/
        right: 1px;
        background-color: rgba(218, 165, 32, 0.3);
        /* height: 120px;   */
        justify-content: center;
        position: relative;
        border: rgb(109, 179, 18) solid 2px;
        border-radius: 5px;
        user-select: none;
    }

    .config_form .nosotros .desarrollo {
        margin-top: 1%;
        /* font-size: 18px;
    line-height: 30px; */
        /* color: red; */
        user-select: none;
        margin-left: 2%;
        font-size: 20px;
        font-weight: 600;
        color: navy;
    }


    .config_form .nosotros .nombres {
        background-color: transparent;
        margin-top: 1%;
        width: 90%;
        /* font-size: 18px;
    line-height: 30px; */
        /* color: red; */
        user-select: none;
        margin-left: 2%;
        font-size: 16px;
        font-weight: 600;
        color: navy;
        border: none;
    }


    .config_form .nosotros .integrantes {
        background-color: transparent;
        margin-top: 1%;
        width: 90%;
        /* font-size: 18px;
    line-height: 30px; */
        /* color: red; */
        user-select: none;
        margin-left: 2%;
        font-size: 16px;
        font-weight: 600;
        color: navy;
        border: none;
        /* border: rgb(179, 18, 139) solid 1px; */
    }

    /***********************************************************/
    /**** controles ********************************************/
    /***********************************************************/
    .controles3 {

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        height: 60px;
        margin-left: 50%;
        transform: translateX(-49.5%);
        margin-top: 1%;
        /*margin-left: 2%;*/
        right: 1px;
        /* background-color: rgba(218, 165, 32, 0.3); */
        /* height: 120px;   */
        justify-content: center;
        position: relative;
        /* border: rgb(109, 179, 18) solid 2px; */
        border-radius: 5px;
        user-select: none;

    }

    .sub_controles3 {

        display: flex;
        flex-direction: row;
        align-items: center;
        width: 95%;
        height: 30px;
        margin-left: 50%;
        transform: translateX(-26%);
        margin-top: 1%;

        right: 1px;
        /* background-color: rgba(218, 165, 32, 0.3); */
        /* height: 120px;   */
        justify-content: center;
        position: relative;
        /* border: rgb(109, 179, 18) solid 2px; */
        border-radius: 5px;
        user-select: none;

    }

    .sub_eti1 {
        background-color: transparent;
        text-align: center;
        font-size: 24px;
        line-height: 22px;
        font-weight: 600;
        color: red;
        user-select: none;
        border: none;
    }

    .sub_eti2 {
        background-color: transparent;
        text-align: center;
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
        color: red;
        user-select: none;
        border: none;
    }

    .sub_eti3 {
        background-color: transparent;
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        color: red;
        user-select: none;
        border: none;
    }



    .etiqueta1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 15%;
        height: 25px;
        justify-content: center;
        position: relative;
        /* border: rgb(109, 179, 18) solid 2px; */
        border-radius: 5px;
        user-select: none;
    }

    .etiqueta2 {
        display: flex;
        flex-direction: row;
        float: left;
        /* align-items: center; */
        width: 60%;
        height: 25px;
        /* background-color: rgba(218, 165, 32, 0.3); */
        justify-content: center;
        position: relative;
        /* border: rgb(109, 179, 18) solid 2px; */
        border-radius: 5px;
        user-select: none;
    }


    .etiqueta3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 15%;
        height: 25px;
        /* background-color: rgba(218, 165, 32, 0.3); */
        justify-content: center;
        position: relative;
        /* border: rgb(109, 179, 18) solid 2px; */
        border-radius: 5px;
        user-select: none;
    }



    .deslizable3 {
        border-radius: 2px;
        background: #E0E0E0;
        background: linear-gradient(left top, #E0E0E0, #EEEEEE);
        width: 95%;
        height: 18px;
        margin: 5px;
    }

    .thumb {
        touch-action: none;
        width: 20px;
        height: 25px;
        border-radius: 3px;
        position: relative;
        left: 10px;
        top: -5px;
        background: navy;
        cursor: pointer;
    }






































    /**************************************************************/
    /**************************reloj*******************************/
    /**************************************************************/
    .lcd_ambientes {
        max-width: 95%;
        line-height: 120%;
        color: #222;
        font-family: Meiryo, 'Lucida Grande', 'Hiragino Kaku Gothic ProN', sans-serif;
        user-select: none;
        position: relative;
        border: 6px solid #000;
        border-radius: 9px;
        height: 80px;
        margin-left: 3%;
        margin-bottom: 2%;
        background-color: yellow;
        box-shadow: 4px 4px 28px 0px rgba(0, 0, 0, 0.3) inset;

    }

    .D7MI {
        font-family: "D7MI";
    }

    .D7MBI {
        font-family: "D7MBI";
    }

    .D14MI {
        font-family: "D14MI";
    }

    .DWEATHER {
        font-family: "DWEATHER";
        font-size: 72px;
        height: 72px;
    }


    .Clock-Time-Background {
        z-index: 0;
        color: rgba(0, 0, 0, 0);
    }

    .Clock-Time-Front {
        z-index: 0;
        margin: 0px 10px;

    }

    .Clock-Time-Background,
    .Clock-Time-Front {
        position: absolute;
        /* top:38px;
        left:5px;  */
        /* top:1%;
        margin-left: 30%; */
        font-size: 18px;
    }

    .Clock-Year-Background {
        z-index: 0;
        color: rgba(0, 0, 0, 0);
        font-size: 18px;
    }

    .Clock-Year-Front {
        z-index: 0;
        margin: 0px 10px;
    }

    .Clock-Year-Background,
    .Clock-Year-Front {
        position: absolute;
        top: 1%;
        margin-left: 1%;
        font-size: 18px;
    }

    #DSEG7_OUTPUT {
        font-family: "D7MI";
    }

    #DSEG14_OUTPUT {
        font-family: "D14MI";
    }

    #DSEG14_OUTPUT,
    #DSEG7_OUTPUT {
        font-size: 18px;
        margin-top: 2px;
        margin-bottom: 10px;
    }




}







/*--------------------------------------------------------------*/
/*Responsive para celulares 576px */
/*--------------------------------------------------------------*/
@media screen and (min-width: 577px) {
    .header {
        display: none;
    }

    .mov {
        display: none;
    }

    .nav-menu {
        display: none;
    }
}