/*--------------------------------------------------------------*/
/*Responsive para celulares 576px */
/*--------------------------------------------------------------*/
@media screen and (max-width: 576px) {
    .header {
        height: 60px;
        z-index: 5;
         background-color: rgb(148, 79, 79); 
    }

    .mov {
        font-size: 18px;
        font-weight: 600;
        color: navy; 
        display: flex;
        line-height: 65px;
        margin-left: 2%;
        position: absolute;
    }


    .nav-menu {
        flex-direction: column;
        margin-right: 10px;
        background-color: #034574;
        position: fixed;
        right: 0;
        top: 58px;
        width: 100%;
        padding: 10px 0;
        /* height: 120px; */
        height: 90px;
        /*calc(100%-30px);*/
        overflow-y: auto;
        right: -700px;
        transition: 0.7s;

    }

    .nav-menu-link {
        font-size: 20px;
        margin-left: 5%;
        line-height: 35px;
        color: white;
        font-weight: 500;
    }

    .nav-menu-link:hover {
        background-color: none;
        transition: 0.5s;
        color: white;
    }

    .nav-toggle {
        margin-left: 85%;
         color: black; 
         /* border: 1px solid black;  */
         border: transparent;
         border-radius: 3px; 
        background: none;
        font-size: 25px;
        padding: 0 15px;
        line-height: 58px;
        cursor: pointer;
        display: block;
    }

    .nav-menu__visible {
        right: -10px;
    }



     .config_form {
        display: flex;
        flex-direction: column;
        width: 96%;
        height: 300px;
        margin-left: 51%;
        transform: translateX(-4%);
        top: 65px;
        left: 1px;
        right: 1px; 
        background-color: rgba(218, 165, 32, 0.3);

        border-radius: 5px;
        align-items: center;
        border: red solid 2px;
        margin-left: 6%;
        position: absolute;
        user-select: none;
    }

    .config_form .cocina{
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 90%; 
        margin-left: 51%;
        transform: translateX(-28%);
        margin-top: 6%;
        /*margin-left: 2%;*/
        right: 1px; 
        background-color: rgba(218, 165, 32, 0.3);
        /*height: 60px;*/  
        justify-content: center;
        position: relative;
        border: rgb(109, 179, 18) solid 2px;
        border-radius: 5px;
        user-select: none;
    }
    .config_form .cocina .cocina_label{
        font-size: 18px;
        line-height: 30px;
        color: red;
        user-select: none;
        margin-left: 10%;
    }

    .config_form .dormitorio{
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 90%; 
        margin-left: 51%;
        transform: translateX(-28%);
        margin-top: 6%;
        /*margin-left: 2%;*/
        right: 1px; 
        background-color: rgba(218, 165, 32, 0.3);
        /*height: 60px; */ 
        justify-content: center;
        position: relative;
        border: rgb(109, 179, 18) solid 2px;
        border-radius: 5px;
        user-select: none;
    }
    .config_form .dormitorio .dormitorio_label{
        font-size: 18px;
        line-height: 30px;
        color: red;
        user-select: none;
        margin-left: 10%;
    }

    .config_form .living{
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 90%; 
        margin-left: 51%;
        transform: translateX(-28%);
        margin-top: 6%;
        /*margin-left: 2%;*/
        right: 1px; 
        background-color: rgba(218, 165, 32, 0.3);
        /*height: 60px; */ 
        justify-content: center;
        position: relative;
        border: rgb(109, 179, 18) solid 2px;
        border-radius: 5px;
        user-select: none;
    }
    .config_form .living .living_label{
        font-size: 18px;
        line-height: 30px;
        color: red;
        user-select: none;
        margin-left: 10%;
 
    }

}
